body{
    background:#e4e4e3
    font-family:'Open Sans', sans-serif;
}


.wrapper {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 3%);
}


.container {
    width: 0px;
    height: 50px;
    background: transparent;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    position: relative;
    transition: all 0.5s ease;
}
#userinput {
    border: 0;
    border-bottom: 1px solid #000;
    float: left;
    width: 100%;
    padding: 5px 0;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
}

.container .fa {
    color: #000;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}

#userinput:focus{
    color: #000;
    /* color: #00B4CC; */
}

.container.active {
    width: 250px;
    padding-left: 25px;
    transition: all 0.5s ease;
}

#input.active {
    width:98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}
